# Byte-compiled / optimized / DLL files
*.__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
.cache
.pytest_cache/

# MyPy / Pylint
.mypy_cache/
.dmypy.json
.pyre/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Logs
*.log

# uv cache
.uv/
